nav {
  color: #386641;
  display: flex;
  flex-direction: column;
  height: 80%;
}

nav a {
  color: #386641;
  font-size: 18px;
}

nav ul {
  list-style: none;
}

.logout-link {
  margin-top: auto !important;
  margin-bottom: 0px !important;
}

.imgWrap {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #e5e5e5;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.welcome-text {
  margin: 10px auto 50px auto;
  display: block;
  width: fit-content;
}

.imgWrap img {
  width: 80%;
  display: block;
  margin: auto;
}
