.new-message-container {
  padding-top: 80px;
}
.new-message-container h2 {
  color: #386641;
}

.new-message-container button {
  background-color: #6a994e;
  color: white;
  border-color: #6a994e;
  padding: 5px 20px;
}

.new-message-container button:focus,
.new-message-container button:active,
.new-message-container button:hover {
  border-color: #386641 !important;
  background-color: #386641 !important;
}
