.my-messages-content button {
  background-color: #6a994e;
  color: white;
  border-color: #6a994e;
  padding: 5px 20px;
}

.my-messages-content button:focus,
.my-messages-content button:active,
.my-messages-content button:hover {
  border-color: #386641 !important;
  background-color: #386641 !important;
  color: white !important;
  box-shadow: none !important;
}

.my-messages-content button * {
  color: white;
}
.my-messages-content button *:hover {
  color: white;
}

.my-messages-content .my-bookings-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}

.my-messages-content .my-bookings-table tr {
  background-color: #fff;
  border-radius: 0.25rem;
}

.my-messages-content .my-bookings-table td,
.my-messages-content .my-bookings-table th {
  padding: 30px 20px;
}

.my-messages-content .active {
  border-color: #386641 !important;
  background-color: #386641 !important;
}
