.notification-container {
  width: 250px;
  height: 150px;
  position: absolute;
  right: 0;
  top: 20px;
  background-color: white;
  display: none;
  padding: 20px;
  border-radius: 7px;
  box-shadow: -6px 10px 22px -6px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: -6px 10px 22px -6px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: -6px 10px 22px -6px rgba(0, 0, 0, 0.32);
}

.notification-container.active {
  display: block;
}

.notification-container .close-btn {
  margin-right: 0px;
  margin-left: auto;
  display: block;
  cursor: pointer;
}
