label.timeslot-button {
  background-color: #f1f4f7;
  color: #6a994e;
  font-weight: bold;
  border-color: #f1f4f7;
  width: 100%;
  border-radius: 7px;
  padding: 15px 0px;
}

input[type='checkbox'] {
  visibility: hidden;
}

label.timeslot-button:hover,
label.timeslot-button:active,
label.timeslot-button:focus {
  background-color: #a7c957 !important;
  border-color: #a7c957 !important;
  color: white !important;
}

label.inactive {
  background-color: #a7c957;
  border-color: #a7c957;
  color: white;
  opacity: 0.3;
}

.step2-container {
  background-color: white !important;
}

label.checked {
  background-color: #a7c957;
  border-color: #a7c957;
  color: white;
}
