.main-container {
  max-width: 915px !important;
  border-radius: 7px;
  height: 75vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}

button.button.form-button:focus,
button.form-button {
  display: block;
  font-weight: bold;
  color: #6a994e !important;
  border-color: #6a994e !important;
  background-color: #f1f4f7 !important;
  box-shadow: none !important;
}

button.form-button:hover {
  background-color: #6a994e !important;
  border-color: #6a994e !important;
  color: white !important;
  box-shadow: none !important;
}
