header {
  background-color: #fff;
  height: 100vh;
  padding: 20px 30px;
}

.logoWrap {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.logoWrap p {
  margin-bottom: 0px;
  color: #386641;
  font-size: 14 px;
}
.logoWrap p:first-child {
  font-weight: 700;
}

.logoWrap img {
  width: 40px;
  margin-right: 10px;
}
